* {
    margin: 0;
    padding: 0;
}

.container-1 {
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    display: flexbox;
}

.top {
    background-color: aqua;
    width: 100%;
    height: 70px;
    z-index: 57;
}

.top-bg {
    display: flex;
}

.top-bg .logo-top {
    line-height: 1.2;
    size: 41px;
    align-items: center;
    position: absolute;
    left: 415px;
    top: 2.192px;
    z-index: 60;
}

.top-bg .txt-top1 {
    font-size: 41.667px;
    font-family: "Comic Sans MS";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 474px;
    top: 2.192px;
    z-index: 60;
}

.top-bg .logo-top2 {
    line-height: 1.2;
    size: 41px;
    align-items: center;
    position: absolute;
    left: 1158px;
    top: 2.192px;
    z-index: 60;
}

.top-bg .txt-top2 {
    font-size: 41.667px;
    font-family: "Comic Sans MS";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1218px;
    top: 0.192px;
    z-index: 58;
}

.main-image {
    position: absolute;
    top: 56px;
    width: 100%;
    height: 800px;
    margin-bottom: 10px;
    z-index: 44;
}

.Navbar {
    display: flex;
}

.Navbar .main-logo {
    position: absolute;
    left: 494px;
    top: 60px;
    width: 120px;
    height: 84px;
    z-index: 54;
}

.Navbar .nav-nav-primary {
    text-decoration: none;
    display: flex;
    font-size: 66.667px;
    font-family: "Comic Sans MS";
    z-index: 54;
    color: #ffffff;
    padding: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.ele1 {
    font-size: 66.667px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 843px;
    top: 60.707px;
    z-index: 51;
}

.ele2 {
    font-size: 66.667px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1071px;
    top: 57.707px;
    z-index: 52;
}

.ele3 {
    font-size: 66.667px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 1390px;
    top: 61.5px;
    z-index: 53;
}

a:hover {
    color: #351bf7;
    transform: rotate(10);
}

.header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1800px;
    height: 4098px;
    z-index: 49;
}

.heading {
    font-size: 100px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 402px;
    top: 288.061px;
    z-index: 48;
}

.subheading {
    font-size: 58.333px;
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 464.053px;
    top: 422.702px;
    width: 944px;
    height: 164px;
    z-index: 47;
}

.btn {
    border-radius: 12px;
    background-color: rgb(53, 27, 247);
    opacity: 0.678;
    position: absolute;
    left: 712px;
    top: 665px;
    width: 445px;
    height: 96px;
    font-family: "Comic Sans MS";
    color: #ffffff;
    cursor: pointer;
    outline: none;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    z-index: 45;
    font-size: 58.333px;
    box-shadow: 1px 12px #999;
}

.btn:hover {
    background-color: #00ffd2
}

.btn:active {
    background-color: #00ffd3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container-2 {
    margin-top: 25px;
    overflow: hidden;
    box-sizing: border-box;
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 100;
}

.main_heading {
    font-size: 91px;
    font-family: "Comic Sans MS";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    left: 526.687px;
    top: 25.561px;
    z-index: 42;
}

.trip_bg {
    border-radius: 50%;
    background-color: rgb(53, 27, 247);
    opacity: 0.741;
    position: absolute;
    left: 567px;
    top: 150px;
    width: 768px;
    height: 685px;
    z-index: 32;
}

.trip_bg .txt1 {
    font-size: 52.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    -webkit-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    -ms-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    position: absolute;
    left: 131.966px;
    top: 140.042px;
    width: 569.583px;
    height: 48.047px;
    z-index: 40;
}

.trip_bg .txt1-icon {
    position: absolute;
    left: 137.966px;
    top: 144.042px;
    height: 60px;
}

.trip_bg .search_box1 {
    display: block;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 172px;
    top: 209px;
    width: 474px;
    height: 71px;
    z-index: 39;
}

.search_box1 input:hover {
    background-color: #ddd;
    color: black;
}

input[type=text],
.search_box1 {
    font-size: 44px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.txt2 {
    font-size: 52.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    -webkit-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    -ms-transform: matrix( 1.05934957687748, 0, 0, 1.05934957687748, 0, 0);
    position: absolute;
    left: 107.966px;
    top: 325.042px;
    width: 569.583px;
    height: 48.047px;
    z-index: 48;
}

.txt2-icon {
    position: absolute;
    left: 146.966px;
    top: 325.042px;
    height: 60px;
}

.trip_bg .search_box2 {
    border-radius: 10px;
    color: #000000;
    position: absolute;
    left: 163px;
    top: 391px;
    width: 474px;
    height: 71px;
    z-index: 59;
}

.search_box2 input:hover {
    background-color: #ddd;
    color: black;
}

.search_box2 input[type=text] {
    font-size: 66.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    z-index: 54;
    position: absolute;
}

::placeholder {
    font-size: 50.667px;
    font-family: "Bahnschrift";
    color: black;
    padding: 20px 20px 20px 20px;
}

.btn_secondary {
    font-size: 30.667px;
    font-family: "Bahnschrift";
    border-radius: 10px;
    background-color: rgb(12, 226, 255);
    position: absolute;
    left: 295px;
    top: 508px;
    width: 209px;
    height: 80px;
    z-index: 34;
}

.btn_secondary p {
    color: black;
}

.svg-1 {
    margin-left: 55px;
    position: absolute;
    width: 250px;
    flex: 0 0 auto;
    height: 250px;
    left: 178.765px;
    top: 528.5px;
    z-index: 100;
}

.svg-2 {
    margin-left: 55px;
    position: absolute;
    width: 250px;
    flex: 0 0 auto;
    height: 250px;
    left: 178.765px;
    top: 148.5px;
    z-index: 100;
}

.svg-3 {
    margin-left: 55px;
    position: absolute;
    width: 250px;
    flex: 0 0 auto;
    height: 250px;
    left: 1415.765px;
    top: 148.5px;
    z-index: 100;
}

.svg-4 {
    margin-left: 55px;
    position: absolute;
    width: 250px;
    flex: 0 0 auto;
    height: 250px;
    left: 1415.765px;
    top: 540.5px;
    z-index: 100;
}

.container-3 {
    top: 1900px;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
    background: #351bf7;
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 100;
}

.c3-main {
    padding: 10px;
    margin: 20px;
    font-size: 125px;
    font-family: "Bahnschrift";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -webkit-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -ms-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    position: absolute;
    left: 474.049px;
    top: 14.5px;
    z-index: 23;
}

.container-3 .c3-searchbox {
    height: 10px;
    padding: 80px;
    margin: 140px 40px 40px 40px;
}

.c3-searchbox .c3-name {
    font-size: 66.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 742.109px;
    top: 200.5px;
    z-index: 22;
    width: 650px;
    height: 80px;
}

.c3-searchbox .c3-email {
    font-size: 66.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 742.109px;
    top: 300.5px;
    z-index: 22;
    width: 650px;
    height: 80px;
}

.c3-searchbox .c3-phone {
    font-size: 66.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 742.109px;
    top: 400.5px;
    z-index: 22;
    width: 650px;
    height: 80px;
}

.c3-searchbox .c3-message {
    font-size: 20.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    position: absolute;
    left: 742.109px;
    top: 500.5px;
    z-index: 22;
    width: 650px;
    height: 180px;
}

.c3-searchbox button {
    background-color: aqua;
    border: 1px solid black;
}

.c3-searchbox .submit-form {
    font-size: 55.667px;
    font-family: "Bahnschrift";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 907.109px;
    top: 707.5px;
    height: 71px;
    width: 320px;
}

.submit-form a {
    color: black;
}

.container-4 {
    margin-top: 150px;
    background-color: #0ce2ff;
    /* padding: 100px 50px 50px 50px; */
    position: absolute;
    top: 2749px;
    width: 100%;
    height: 1224px;
    z-index: 65;
}

.c4-heading {
    padding: 10px;
    margin: 20px;
    font-size: 125px;
    font-family: "Bahnschrift";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -webkit-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -ms-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    position: absolute;
    left: 674.049px;
    top: 124.5px;
    z-index: 23;
}

.c4-links {
    padding: 10px 10px 10px 10px;
    margin: 75px;
    font-size: 44px;
    font-family: "Bahnschrift";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    -moz-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -webkit-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    -ms-transform: matrix( 1.02790984719141, 0, 0, 1.02790984719141, 0, 0);
    position: absolute;
    left: 344.049px;
    top: 752.5px;
    z-index: 23;
    width: 1500px;
}

.c4-links,
li {
    text-align: center;
    padding: 1px 0px 1px 20px;
    margin: 10px 10px 10px 10px;
}

span {
    font-size: 10px;
    color: #000000;
}

.cr {
    font-size: 50px;
    color: black;
    font-weight: 700;
    font-style: Bahnschrift;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 559.13px;
    top: 1000.157px;
    width: 1259px;
    height: 62px;
    z-index: 4;
}